{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <img src="{{ note.category.image_note_cat.url }}" alt="{{ note.title }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>{{ note.title }} {{ note.created_at }}</h1>
            <ul class="list-unstyled">
                <li>
                    <strong>Category :</strong>
                    {{ note.category }}
                </li>

                <li>
                    <strong>Note :</strong>
                    {{ note.content }}
                </li>
            </ul>
            <a href="{% url 'note_update' note.slug %}" class="btn btn-primary">Modifier</a>
            <a href="{% url 'note_delete' note.slug %}" class="btn btn-danger">Supprimer</a>
            <a href="{% url 'note_list' %}" class="btn btn-warning">Retour</a>
        </div>
    </div>

{% endblock %}
