{% extends 'base.html' %}

{% block content %}
    <h1>{% if note.id %}Modifier{% else %}Créer{% endif %} une note</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
            {% if form.content.errors %}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
            {% if form.category.errors %}
                <div class="invalid-feedback">
                    {% for error in form.category.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">
            {% if note.id %}
                Modifier
            {% else %}
                Créer
            {% endif %}
        </button>
    </form>


    <div class="retour-englobe">
        <a class="retour btn btn-warning" href="{% url 'note_list' %}">Retour</a>
    </div>

{% endblock %}
