{% block navbar %}
    {% load static %}
    <style>

        /* Élément | http://127.0.0.1:8000/gestion-passwords/ */

        .navbar {
            display: flex;
            width: 100%;
        }

        /* Élément | http://127.0.0.1:8000/gestion-passwords/ */

        .ullist {
            display: flex;
            justify-content: space-around;
            margin: auto;
            width: 100%;
        }

        .ullist {
            list-style: none;
        }

        .fa, .fa-solid {
            color: #c43b00;
        }

    </style>
    <nav class="navbar navliste">
        <ul class="ullist">
            <li>
                <a href="{% url 'home_passwords' %}">
                    <i class="fa fa-2x fa-house"></i>
                </a>
            </li>

            {% if user.is_authenticated %}
                <li>
                    <a href="#">
                        <i class="fa fa-2x fa-lock"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-2x fa-magnifying-glass"></i>
                    </a>
                </li>

                <li>
                    <a href="{% url 'profile' %}">
                        <i class="fa fa-2x fa-user"></i>
                    </a>
                </li>

                <li>
                    <a href="{% url 'logout' %}">
                        <i class="fa-sharp fa-2x fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                </li>

            {% else %}
                <li>
                    <a href="{% url 'login' %}">Connexion</a> <!-- { url 'login' } -->
                </li>

                <li>
                    <a href="{% url 'signup' %}">Inscription</a> <!-- { url 'register' } -->
                </li>

            {% endif %}
        </ul>
    </nav>

{% endblock %}