{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'gstRappels/inc/head.html' %}

    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: '{% url "appointments" %}',
                eventRender: function (event, element) {
                    element.qtip({
                        content: event.description
                    });
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                // ...
                eventDrop: function (event, delta, revertFunc) {
                    // ...
                },
                // ...
            });

            // Code pour soumettre le formulaire d'ajout de rendez-vous
            $('#addAppointmentForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '{% url "add_appointment" %}',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            alert('Rendez-vous ajouté avec succès.');
                            $('#calendar').fullCalendar('refetchEvents');
                        } else {
                            alert('Une erreur est survenue lors de l\'ajout du rendez-vous.');
                        }
                    },
                    error: function () {
                        alert('Une erreur est survenue lors de l\'ajout du rendez-vous.');
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                // ...
                events: '{% url "appointments" %}',
                // ...
            });
        });
    </script>

    <h1 class="mb-5 text-center">Calendrier des rendez-vous</h1>

        <div id='calendar'>
        </div>

     <br>
     <br>

     {% for rdv in appointment %}
          in appointment
     {{ rdv.title }}
     {{ rdv.start_time }}
     {{ rdv.end_time }}
    {% endfor %}

    <form id="addAppointmentForm" class="mt-5 mb-5">
        <input type="text" name="title" placeholder="Titre">
        <input type="text" name="start" placeholder="Date de début">
        <input type="text" name="end" placeholder="Date de fin">
        <button type="submit">Ajouter</button>
    </form>


    <div class="retour-englobe">
        <a class="retour btn btn-warning" href="{% url 'home' %}">Retour</a>
    </div>


{% endblock %}
