<!DOCTYPE html>
<html>
<head>
  <title>Calendrier des rendez-vous</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        events: '{% url "appointments" %}',
        eventRender: function(event, element) {
          element.qtip({
            content: event.description
          });
        }
      });
    });
  </script>
</head>
<body>
  <h1>Calendrier des rendez-vous</h1>
  <div id='calendar'></div>
</body>
</html>
