{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>

        .calendar-view {
            /* display: flex; */
            background: #cbc9c9;
            width: 75%;
            justify-content: center;
            margin: auto;
        }

        tbody, td, tfoot, th, thead, tr {
            border-width: 1px;
            text-align: center;
        }

        div.calendar-view {
            padding: 100px;
        }

        .calendar {
            width: 75%;
            margin: auto;
        }

    </style>

    <div class="calendar-view">
        {{ calendar }}

        <a class="retour btn btn-warning" href="{% url 'home' %}">Retour</a>

    </div>

{% endblock %}
