{% extends 'base.html' %} <!-- Étend le modèle de base.html -->

{% load static %} <!-- Charge les fichiers statiques -->

{% block content %} <!-- Début du bloc de contenu -->

    <h1 class="title-home">
        Profil
    </h1>
    <div id="profil-page">
        <div class="card" data-state="#about">
            <div class="card-header">

                <div class="card-cover"
                     style="background-image: url(https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)">
                </div>

                <!-- Affiche l'image de profil de l'utilisateur -->
                <img class="card-avatar" src="{{ user.profile.image_profile.url }}"
                     alt="{{ profile.image_profile.name }}">

                <!-- Affiche le nom de l'utilisateur -->
                <h1 class="card-fullname">{{ profile.user.username }}</h1>

                <!-- Affiche si l'utilisateur est actif -->
                {% if profile.user.is_active %}
                    <p class="text-success">Active</p>
                {% else %}
                    <p class="text-warning">Not active</p>
                {% endif %}
            </div>

            <!-- Affiche la table des infos de l'utilisateur -->
            <div class="card-main text-dark">
                <div class="card-section is-active" id="about">

                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Email</th>
                            <th scope="col">Prénom</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>{{ profile.user.username }}</td>
                            <td>{{ profile.user.email }}</td>
                            <td>{{ profile.user.last_name }}</td>
                        </tr>

                        </tbody>
                    </table>

                </div>

                <!-- Affiche le menu de nav en bas -->
                <div class="card-section" id="experience">
                    <div class="card-content">
                        <div class="card-subtitle">Modifier mon image</div>

                        <form method="post" enctype="multipart/form-data" class="form-updt-img-profile">
                            {% csrf_token %}
                            <label class="form-lbl mb-5" for="image_profile"></label>
                            <input type="file" name="image_profile" id="image_profile"
                                   value="{{ profile.image_profile }}"
                                   class="form-control mb-5 input-updt-img-profile"/>
                            <input type="submit" value="Valider" class="btn updt-profile">
                        </form>
                    </div>
                </div>

                <!-- Menu infos/image/contact -->
                <div class="card-section" id="contact">
                    <div class="card-content">
                        <!-- Menu infos generale -->
                        <div class="card-subtitle">Informations</div>
                        <div class="card-contact-wrapper">
                            <div class="card-contact">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                </svg>
                                {{ profile.address }} {{ profile.city }} {{ profile.zip_code }}
                            </div>
                            <div class="card-contact">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07 19.5 19.5 0 01-6-6 19.79 19.79 0 01-3.07-8.67A2 2 0 014.11 2h3a2 2 0 012 1.72 12.84 12.84 0 00.7 2.81 2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 12.84 12.84 0 002.81.7A2 2 0 0122 16.92z"></path>
                                </svg>
                                {{ profile.phone }}
                            </div>
                            <div class="card-contact">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                    <path d="M22 6l-10 7L2 6"></path>
                                </svg>
                                {{ profile.user.email }}
                            </div>
                            <button class="contact-me">Travailler ensemble</button>
                        </div>
                    </div>
                </div>

                <!-- Affiche des boutons pour basculer entre les différentes sections de la carte -->
                <div class="card-buttons">
                    <button data-section="#about" class="is-active">Informations générales</button>
                    <button data-section="#experience">Changer photo de profile</button>
                    <button data-section="#contact">Contact</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Affiche des boutons pour modifier le profil et revenir à la page d'accueil -->
    <div class="btn-box mb-5">
        <button type="submit" class="btn btn-primary mt-3">Modifier</button>
        <a class="btn btn-warning mt-3" href="{% url 'home' %}">Retour</a>
    </div>

    <!-- Ajoute un script JavaScript pour gérer les événements de clic sur les boutons et afficher les sections correspondantes -->
    <script>
        const buttons = document.querySelectorAll(".card-buttons button");
        const sections = document.querySelectorAll(".card-section");
        const card = document.querySelector(".card");

        const handleButtonClick = (e) => {
            const targetSection = e.target.getAttribute("data-section");
            const section = document.querySelector(targetSection);
            targetSection !== "#about"
                ? card.classList.add("is-active")
                : card.classList.remove("is-active");
            card.setAttribute("data-state", targetSection);
            sections.forEach((s) => s.classList.remove("is-active"));
            buttons.forEach((b) => b.classList.remove("is-active"));
            e.target.classList.add("is-active");
            section.classList.add("is-active");
        };

        buttons.forEach((btn) => {
            btn.addEventListener("click", handleButtonClick);
        });

    </script>
{% endblock %}

