{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="details-box">
        <h1>{{ documents.nom }}</h1>
        <a href="{{ documents.file_upload.url }}">
            <img style="width: 66%;" src="{{ documents.file_upload.open }}" alt="{{ documents.nom }}">
        </a>
        {{ object.file_upload.readinto.fget }}
        <a href="{{ documents.preview.pk }}" target="_blank">PDF Preview</a>
        <p>Keywords:
            {% for mot in documents.mots_cles.all %}
                <img src="{{ object.file_upload.path }}" alt="">
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% if documents.small_preview %}
            <img src="{{ documents.file_upload.url }}" alt="Preview Image">
        {% endif %}
        <a href="{{ documents.file_upload.url }}" download>Download File</a>
    </div>
    <div class="retour-englobe">
        <a class="retour btn btn-warning" href="{% url 'gallery-doc-view' %}">Retour</a>
    </div>

{% endblock %}