{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block subtitle %}
        <h2 class="text-center">Gallery</h2>
    {% endblock %}

    <div class="home-box mt-4">
        {% for img in object_list %}
            <div class="img-home-box border border-dark p-3">
                <h2 class="text-center">{{ img.nom }}</h2>
                <a href="{% url 'img-details-view' img.slug %}">
                    <img class="photos-home" src="{{ img.images.url }}" alt="">
                </a>

            </div>
        {% endfor %}
    </div>
    <div class="retour-englobe">
        <a class="retour btn btn-warning" href="{% url 'home' %}">Retour</a>
    </div>

{% endblock %}