{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: [
        {% for event in events %}
          {
            title: "{{ event.title }}",
            start: "{{ event.start_time }}",
            end: "{{ event.end_time }}",
            description: "{{ event.description }}"
          },
        {% endfor %}
      ]
    });
    calendar.render();
  });
</script>

<div id='calendar'></div>

<h3 class="text-center">Form</h3>
<div class="column">
  <div class="col-md-8 offset-md-2">
    <form id="addAppointmentForm" method="POST">
      {% csrf_token %}
      <input class="mb-5" type="text" name="title" placeholder="Titre">
      <input class="mb-5" type="text" name="description" placeholder="Desc">
      <input class="mb-5" type="text" name="start" placeholder="Date de début">
      <input class="mb-5" type="text" name="end" placeholder="Date de fin">
      <input class="mb-5" type="text" name="location" placeholder="Locations">
      <input class="mb-5" type="text" name="participants" placeholder="participants">
      <button type="submit">Ajouter</button>
    </form>
  </div>
</div>

<div class="retour-englobe mt-5">
  <a class="retour btn btn-warning" href="{% url 'home' %}">Retour</a>
</div>

{% block extrascript %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,list'
      },
      buttonText: {
        today: 'Aujourd\'hui',
        month: 'Mois',
        week: 'Semaine',
        list: 'Liste'
      },
    });
    calendar.render();
  });

  evenements = [{
    title: 'live demo',
    start: '2023-04-26T09:00:00',
    end: '2023-04-26T19:00:00',
    description: 'blablavbla',
  }]

  window.onload = () => {
    let elementCalendrier = document.getElementById("calendar")

    // instanciation du calendrier
    let calendar = new FullCalendar.Calendar(elementCalendrier, {
      // appel des composants
      plugins: ['dayGrid', 'timeGrid', 'list'],
      initialView: 'timeGridWeek',
      selectable: true,
      locale: 'fr',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,list'
      },
      buttonText: {
        today: 'Aujourd\'hui',
        month: 'Mois',
        week: 'Semaine',
        list: 'Liste'
      },
      events: evenements,
    })
    calendar.render()
  }

</script>
{% endblock extrascript %}

<div id='calendrier'></div>
{% endblock %}
