{% extends 'base.html' %}
{% include '../static/touchycloud/js/script.js' %}
{% load static %}

{% block content %}
    <style>

        #addAppointmentForm {
            display: flex;
            flex-direction: column;
        }


        table {
            width: 50%;
            margin: 45px auto;
        }

        tbody, td, tfoot, th, thead, tr {

            border-width: 1px;
            text-align: center;
        }

    </style>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'dayGridMonth, timeGridWeek, list',
                },
            });
            calendar.render();
        });

    </script>


    {{ cal|safe }}

    <h3 class="text-center">Form</h3>
    <div class="column">
        <div class="col-md-8 offset-md-2">
            <form id="addAppointmentForm" method="POST">
                {% csrf_token %}
                <input class="mb-5" type="text" name="title" placeholder="Titre">
                <input class="mb-5" type="text" name="description" placeholder="Desc">

                <input class="mb-5" type="text" name="start_time" placeholder="Date de début">
                <input class="mb-5" type="text" name="end_time" placeholder="Date de fin">
                <input class="mb-5" type="text" name="location" placeholder="Locations">
                <input class="mb-5" type="text" name="participants" placeholder="participants">
                <button type="submit">Ajouter</button>
            </form>
        </div>
    </div>

    <div id='calendrier'>
    </div>
    <div class="retour-englobe mt-5">
        <a class="retour btn btn-warning" href="{% url 'home' %}">Retour</a>
    </div>

    <div id='calendar'>
    </div>
    {% block extrascript %}
        <script>

            let evenements = [{
                'title': 'live demo',
                'start_time': '2023-04-26 09:00:00',
                'end_time': '2023-04-26 19:00:00',
                'description': 'blablavbla',
            }]

            window.onload = () => {
                let elementCalendrier = document.getElementById("calendrier")


                // instanciation du calendrier
                let calendrier = new FullCalendar.Calendar(elementCalendrier, {
                     evenements: [{
                    title: 'live demo',
                    start: '2023-04-26 09:00:00',
                    end: '2023-04-26 19:00:00',
                    description: 'blablavbla',
                }],
                    // appel des composants
                    plugin: ['davGrid', 'timeGrid', 'list'],
                    defaultView: 'timeGridWeek',
                    selectable: true,
                    locale: 'fr',
                    header: {
                        left: 'prev, next today',
                        center: 'title',
                        right: 'dayGridMonth, timeGridWeek, list',
                    },
                    buttonText: {
                        today: 'Aujourd\'hui',
                        month: 'mois',
                        week: 'semaine',
                        list: 'Liste'
                    },
                    events: evenements
                })
                calendrier.render()
            }

        </script>
    {% endblock extrascript %}
{% endblock %}