{% extends 'base.html' %}
{% include '../static/touchycloud/js/script.js' %}
{% load static %}

{% block content %}
    <style>

        #addAppointmentForm {
            display: flex;
            flex-direction: column;
        }


        table {
            width: 50%;
            margin: 45px auto;
        }

        tbody, td, tfoot, th, thead, tr {

            border-width: 1px;
            text-align: center;
        }

    </style>

    {% block script %}

        <script>

            $(document).ready(function () {
                $('#calendar').fullCalendar({
                    // ...
                    eventDrop: function (event, delta, revertFunc) {
                        // ...
                    },
                    // ...
                });
               let  evenements: [
                    {% for event in events %}
                        {
                            title: "titre test -> {{ event.title }}",
                            start: "{{ event.start_time }}",
                            end: "{{ event.end_time }}",
                            description: "{{ event.description }}",
                        }
                    {% endfor %}
                ]
            });
                // Code pour soumettre le formulaire d'ajout de rendez-vous
                $('#addAppointmentForm').submit(function (event) {
                    event.preventDefault();
                    var formData = $(this).serialize();
                    $.ajax({
                        url: '{% url "add_event" %}',
                        type: 'POST',
                        data: formData,
                        success: function (response) {
                            if (response.success) {
                                alert('Rendez-vous ajouté avec succès.');
                                $('#calendar').fullCalendar('refetchEvents');
                            } else {
                                alert('Une erreur est survenue lors de l\'ajout du rendez-vous.');
                            }
                        },
                        error: function () {
                            alert('Une erreur est survenue lors de l\'ajout du rendez-vous.');
                        }
                    });
            });
        </script>
    {% endblock script %}

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

    </script>


    {{ cal|safe }}
    <h3 class="text-center">Form</h3>
    <div class="column">
        <div class="col-md-8 offset-md-2">
            <form id="addAppointmentForm" method="POST">
                {% csrf_token %}
                <input class="mb-5" type="text" name="title" placeholder="Titre">
                <input class="mb-5" type="text" name="description" placeholder="Desc">

                <input class="mb-5" type="text" name="start_time" placeholder="Date de début">
                <input class="mb-5" type="text" name="end_time" placeholder="Date de fin">
                <input class="mb-5" type="text" name="location" placeholder="Locations">
                <input class="mb-5" type="text" name="participants" placeholder="participants">
                <button type="submit">Ajouter</button>
            </form>
        </div>
    </div>


    <div class="retour-englobe mt-5">
        <a class="retour btn btn-warning" href="{% url 'home' %}">Retour</a>
    </div>

    <div id='calendar'>
    </div>
     {% block extrascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'dayGridMonth, timeGridWeek, list',
                },
                evenements: [
                    {% for event in events %}
                        {
                            title: "titre test -> {{ event.title }}",
                            start: "{{ event.start_time }}",
                            end: "{{ event.end_time }}",
                            description: "{{ event.description }}",
                        }
                    {% endfor %}
                ]
            });
            calendar.render();
        });

    </script>
         {% endblock extrascript %}
{% endblock %}