{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="home-box mt-4">

        <div class="img-home-box">
            <a href="#">
                <img class="photos-home" src="{% static 'touchycloud/home/photos-app.png' %}" alt="">
                <p class="title-app text-center">photis</p>
            </a>
        </div>


        <div class="img-home-box">
            <a href="#">
            <img class="photos-home" src="{% static 'touchycloud/home/doc-app.png' %}" alt="">
            <p class="title-app text-center">Documents</p>
            </a>
        </div>

        <div class="img-home-box">
            <a href="#">
            <img class="photos-home" src="{% static 'touchycloud/home/contact-app.png' %}" alt="">
            <p class="title-app text-center">Contact</p>
            </a>
        </div>

        <div class="img-home-box">
            <a href="#">
            <img class="photos-home" src="{% static 'touchycloud/home/rdv-app.png' %}" alt="rdv">
            <p class="title-app text-center">Mes RDV</p>
            </a>
        </div>

        <div class="img-home-box">
            <a href="#">
            <img class="photos-home" src="{% static 'touchycloud/home/notes-app.png' %}" alt="notes">
            <p class="title-app text-center">Notes</p>
            </a>
        </div>

        <div class="img-home-box">
            <a href="#">
            <img class="photos-home" src="{% static 'touchycloud/home/tasks-app.png' %}" alt="tasks">
            <p class="title-app text-center">Mes taches</p>
            </a>
        </div>

        <div class="img-home-box">
            <a href="#">
            <img class="photos-home" src="{% static 'touchycloud/home/passwords-app.png' %}" alt="password">
            <p class="title-app text-center">Passwords</p>
            </a>
            >        </div>

        <div class="img-home-box">
            <a href="#">
            <img class="photos-home" src="{% static 'touchycloud/home/settings-app.png' %}" alt="settings">
            <p class="title-app text-center">Settings</p>
            </a>
        </div>

    </div>

{% endblock %}