{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- barre de recherche -->
    <section class="home-box justify-content-center mt-2 mb-2">
        <form method="POST">
            {% csrf_token %}
            <label for="search"></label>
            <input class="form" name="search" id="search" placeholder="rechercher">
            <button class="btn btn-success" type="submit" name="search">Rechercher</button>
        </form>
    </section>

    <div class="home-box mt-4">

        <!-- GstPhotos -->
        <div class="img-home-box">
            <a class="nav-link" href="{% url 'gallery-view' %}">
                <img class="photos-home" src="{% static 'touchycloud/home/photos-app.png' %}" alt="">
                <p class="title-app text-center">photos</p>
            </a>
        </div>

        <!-- gstDocuments -->
        <div class="img-home-box">
            <a class="nav-link" href="{% url 'gallery-doc-view' %}">
                <img class="photos-home" src="{% static 'touchycloud/home/doc-app.png' %}" alt="">
                <p class="title-app text-center">Documents</p>
            </a>
        </div>

        <!-- gstContact -->
        <div class="img-home-box">
            <a class="nav-link" href="#">
                <img class="photos-home" src="{% static 'touchycloud/home/contact-app.png' %}" alt="">
                <p class="title-app text-center">Contact</p>
            </a>
        </div>

        <!-- gstRdv -->
        <div class="img-home-box">
            <a class="nav-link" href="{% url 'calendar' %}">
                <img class="photos-home" src="{% static 'touchycloud/home/rdv-app.png' %}" alt="rdv">
                <p class="title-app text-center">Mes RDV</p>
            </a>
        </div>

        <!-- gstNotes -->
        <div class="img-home-box">
            <a class="nav-link" href="#">
                <img class="photos-home" src="{% static 'touchycloud/home/notes-app.png' %}" alt="notes">
                <p class="title-app text-center">Notes</p>
            </a>
        </div>

        <!-- gstTasks -->
        <div class="img-home-box">
            <a class="nav-link" href="{% url 'home_tasks' %}">
                <img class="photos-home" src="{% static 'touchycloud/home/tasks-app.png' %}" alt="tasks">
                <p class="title-app text-center">Mes taches</p>
            </a>
        </div>

        <!-- gstPasswords -->
        <div class="img-home-box">
            <a class="nav-link" href="{% url 'home_passwords' %}">
                <img class="photos-home" src="{% static 'touchycloud/home/passwords-app.png' %}" alt="password">
                <p class="title-app text-center">Passwords</p>
            </a>
        </div>

        <!-- gstProfils -->
        <div class="img-home-box">
            <a class="nav-link" href="{% url 'profile' %}">
                <img class="photos-home" src="{% static 'touchycloud/home/settings-app.png' %}" alt="settings">
                <p class="title-app text-center">Settings</p>
            </a>
        </div>

    </div>

{% endblock %}